#   Gitignore for Project FWD

#   Ignore the workspace specific files
/.vscode/

#   Ignore the sample data provided
/sample/examples.zip

#   Ignore the cluster output and error files
/cluster/

#   Ignore the essay related material
/essay/
